<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link href="../bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <section id="resume" class="py-5">
        <div class="container">
            <h2>Resume</h2>
            <p>Download my detailed resume to explore my skills, projects, and achievements in-depth.</p>
            <button class="visit-site-btn" onclick="window.location.href='Docs/Resume Shambhu Jagtap.pdf';">Download
                My
                Resume</button>
        </div>
    </section>
</body>

</html>